@inherits LayoutComponentBase

<PageTitle>WebsiteLayout</PageTitle>

<VerticalNavMenu></VerticalNavMenu>
<div class="container-fluid">
    @Body
</div>

<footer class="footer">
    <p>About me <a href="../static/Макарова Полина.pdf"  target="_blank"><i  class="fa fa-address-card-o" aria-hidden="true"></i></a></p>
</footer>  


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>