@inherits LayoutComponentBase

<PageTitle>WebsiteLayout</PageTitle>

<VerticalNavMenu></VerticalNavMenu>
<div class="container-fluid">
    @Body
</div>

<footer class="footer">
    <p>About me <a href="../static/Макарова Полина.pdf"  target="_blank"><i  class="fa fa-address-card-o" aria-hidden="true"></i></a></p>
</footer>  