@page "/print-js-json"
@implements IAsyncDisposable
@rendermode InteractiveServer

<div class="container" >
    
    <h3>Let's print JSON</h3>
    <div class="flex-row-inp">
        
        <textarea class="form-control" name="to-json"  id="inp"  @bind="InputJson"></textarea>
        
        <button class="transmit-json" title="Transmit json to beauty view" type="button" @onclick="TransmitCode">
            <img src="../static/icons/transmit.svg" alt=""/>
        </button>

        <json-editor id="editor1"></json-editor>
        <json-editor id="editor_check"></json-editor>
    
    </div> 
         
    <button class="btn btn-dark print-json" type="button" @onclick="PrintJson">
        Print JSON
    </button>

</div>
