.flex-row-inp {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    place-items: center;
}
#editor1, #inp {
    height:30em; 
    width:30em;
}
#editor1 {
    border-radius: var(--bs-border-radius);
    cursor: none;
}
button.print-json {
    float: right;
    margin-top: 1em;
}
button.transmit-json{
    border:0;
    background-color: transparent;
}
button.transmit-json:hover{
    background-color: rgba(128, 128, 128, 0.1);
}
textarea {
    resize: none;
}
#editor_check {
    display: none;
}